.body
{
   font-family: 'Roboto'
}
.menu
{
  font-family: 'Exo', Georgia, serif;
  font-size:1em;
  font-weight:700;
  padding-top:0.5vw;
  padding-bottom:0.5vw;
}
.menu span
{
  margin-right:1vw;
  padding:1px 5px 1px 5px;
}
.menu span:hover
{
  color:red;
  cursor:pointer;
}

.header,.footer
{
  font-family: 'Roboto Slab';
  background:rgba(47,64,80,1.0);
  height:140px;
  color:white;
  text-align:center;

}
.header h1
{
 font-size:3.2em;
}
.header h4
{
  font-style: italic;
}
.footer
{
  height:1.5em;
  background:white;
  color:black;
  font-weight:700;
}
.footer hr
{
  border-top: 1px solid rgba(47,64,80,0.5);
  margin:0 0 1vh 0;
}
.body1
{
  margin-top:2vh;
  margin-bottom:1vh;
}

.vertical-center {
  min-height: 35%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 35vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.explanation
{
padding-left:5vw;
}
.explanation h5
{
  font-weight:700;
}
.menuSelected
{
  color:#800;
}
.navbar {
    margin-bottom: 0;
}

a:hover { text-decoration: none;}


.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button, .btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgba(22,160,133,0.8);
  width: 100%;
  border: 0;
  padding: 12px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus , btn:hover{
  background: rgba(22,160,133,1.0);
}


.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color:rgba(47,64,80,1.0);
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.login-page .error-message
{
  text-align: center;
  color:#000;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: rgba(22,160,133,0.8);
}

